.myDropdownLink{
  color: gray;

  &:hover{
    cursor: pointer;
  }
}

.nav-item-divider{
  &:hover{
    border: none !important;
  }
}

.nav-link{
  color: whitesmoke !important;

  &:hover{
    
  }
}