<section class="custom-loader" *ngIf="loading">
	<!-- <img src="/assets/images/custom-spinner.gif" class="img img-fluid"> -->
	<div class="ml-3 me-0">
		<div class="title-header"></div>
		<div class="title-description-up mt-3 mb-3"></div>
	</div>
	<hr>
	<img src="/assets/images/img-placeholder.jpg" class="img img-fluid mt-3" width="120px">
	<hr>
	<div class="me-3">
		<div class="title-header"></div>
		<div class="title-description-up mt-3 mb-3"></div>
		<div class="title-description-bottom"></div>
		<div class="title-description-bottom-2 mt-3"></div>
		<div class="title-description-bottom-3 mt-3"></div>
	</div>
</section>